@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Italiana&family=Josefin+Sans&family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

:root {
    --font-fam-josefien: 'Josefin Sans', sans-serif;
    --font-fam-italiana: 'Italiana', sans-serif;
    --font-fam-crushed: 'Crushed', sans-serif;
    --font-fam-rokkitt: 'Rokkitt', serif;
    --font-fam-sawarabi: "Sawarabi Mincho", serif;

    --background-color: rgb(223, 223, 217);
    --font-color-white: rgb(255, 255, 255);
    --font-color-black: rgb(17, 17, 17);
    --primary-color: rgb(44, 227, 74);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color-black);
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--font-color-black);
    text-decoration: none;
}

li {
    list-style: none;
}