/* ==================================================================
TYPOGRAFIE */

h1 {
    font-family: var(--font-fam-sawarabi);
    font-weight: 400;
    font-size: 62px;
    line-height: 80px;
}

h2 {
    font-family: var(--font-fam-crushed);
    font-weight: normal;
    font-size: 128px;
}

h3 {
    font-family: var(--font-fam-josefien);
    font-weight: bolder;
    font-size: 28px;
}

h4 {
    font-family: var(--font-fam-josefien);
    font-size: 24px;
    letter-spacing: 1px;
    padding: 10px 0;
}

p {
    font-family: var(--font-fam-josefien);
    font-size: 28px;
    font-weight: lighter;
}

/* ==================================================================
LOGO'S - ICONS - IMG - STATIC - STATE */

#custom-cursor {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid orange;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-40px, -40px);
    z-index: 1;
}

#custom-cursor.zoom {
    width: 50px;
    height: 50px;
    border: 6px solid greenyellow;
    transform: translate(-25px, -25px);
}

a:hover {
    cursor: none;
}

/* ==================================================================
LAYOUT */

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    cursor: none;
    /*border: 5px solid green;*/
}

header {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1600px;
    padding: 0 50px;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

header > nav > ul > li {
    border-top: 1px solid black;
    width: 100%;
    padding-bottom: 20px;
}

header > nav > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

header > nav > ul > li:hover,
header > nav > ul > li > a:hover {
    height: 100px;
}

footer {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1600px;
    padding: 20px 50px;
}

footer > div {
    border-bottom: 1px solid black;
}

main {
    width: 100%;
    max-width: 1600px;

    padding: 0 50px;

    /*border: 5px solid red;*/
}

section {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px 0;
    scroll-snap-align: start;
}

#hero {
    justify-content: flex-start;
    align-items: flex-start;
}

#about > div {
    max-width: 900px;
    padding-bottom: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#about > img {
    scale: 90%;
    border-radius: 15px;
    width: 40%;

}

#projects > div:nth-child(1) {
    width: 40vw;
}

#projects > div > ul {
    display: flex;
    flex-direction: column;

}

#projects > div > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
    border-bottom: 1px solid black;
    /*border: 1px solid red;*/
}

#projects > div > ul > li > div:nth-child(1) {
    display: flex;
    gap: 40px;
    align-items: center;
}

#projects > div > ul > li > div:nth-child(1) > p {
    font-size: 22px;
}

#projects > div > ul > li:nth-child(2) > div > a > h3:hover {
    background-color: greenyellow;
}

#projects > div > ul > li:nth-child(2) > div > a:hover {
    scale: 120%;
}

#projects > div:nth-child(2) {
    width: 30%;
    height: 40vh;
    position: relative;
}

#projects > div:nth-child(2) > img {
    width: 250px;
    border-radius: 10px;
}

#projects > div:nth-child(2) > img:nth-child(1) {
    rotate: -10deg;
    position: relative;
    top: 0;
}

#projects > div:nth-child(2) > img:nth-child(2) {
    rotate: 10deg;
    position: absolute;
    top: 50px;
}

#projects > div:nth-child(2) > img:nth-child(3) {
    rotate: -5deg;
    position: absolute;
    top: 200px;
    left: 100px;
}

#contact > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact > form {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

#contact > form > label {
    font-family: var(--font-fam-josefien);
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: -20px;
    z-index: 0;
    background-color: white;
    width: fit-content;
}

#contact > form > textarea,
#contact > form > input {
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    font-family: var(--font-fam-josefien);
    font-size: 16px;
}

#contact > form > textarea {
    height: 120px;
    padding-top: 12px;
}

#contact > form > button {
    width: 50%;
    height: 30px;
    margin-top: 30px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}












































































































